<header>
			<div class="logo">
				<img src=<?php echo "\"".base_url()."assets/ICSLib.png"."\""?> height="125px">
			</div>

			<!--
			START OF NAV BAR
			-->
			<div id="cssmenu">
				<ul>
				   <li class='has-sub'><a href='index_view.php'><span>Home</span></a>
				      <ul>
				         <li><a href='policy_view.php'><span>Rules and Regulation</span></a></li>
				         <li class='last'><a href='hours_view.php'><span>Service Hours</span></a></li>
				      </ul>
				   </li>
				   <li class='has-sub'><a href='search_view.php'><span>Search</span></a></li>
				   <li class='has-sub'><a href='accounts_view.php'><span>Accounts</span></a>
				      <ul>
				         <li class='has-sub'><a href='accounts_view.php'><span>Log In</span></a></li>
				         <li class='last'><a href='signup_view.php'><span>Sign Up</span></a></li>
				      </ul>
				   </li>
				   <li class='last'><a href='contactus_view.php'><span>Contact Us</span></a></li>
				   <li class='has-sub'><a href='help_view.php'><span>Help</span></a>
				      <ul>
				         <li class='has-sub'><a href='#'><span>Ask the Librarian</span></a></li>
				         <li class='last'><a href='#'><span>Ask the Students</span></a></li>
				      </ul>
				   </li>
				</ul>
			</div>
			<!--
			END OF NAV BAR
			-->
</header>

