/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background-color: #e1e1e1;
  padding-top: 0px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
  margin-bottom: 0px;
  min-width: 20%;
  float: left;

}
/* Since positioning the image, we need to help out the caption */
/*.carousel-caption {
  z-index: 10;
  width: 60%;
  color: Black;
}*/

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 570px;
  background-color: White;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 430px;
  opacity: 1.0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


/******************************** Jecho Changes Start ****************************************/
#myCarousel {
  width: 660px;
 margin-top: 60px; /*added*/  
}

#float_right {
  width: 350px;
  float:  right;
  margin-top: 60px; /*added*/
  background-color: #f8f8f8;
  padding-left: 50px;
  margin-bottom: 10px;
}
#float_right2 {
  width: 350px;
  float:  right;
  margin-top: 10px; /*added*/
  background-color: #f8f8f8;
  margin-bottom: 10px;

}
#fixed{
  position: fixed; 
  background: #f8f8f8;
  padding-left:30px; 
  padding-right:30px; 
}
.collapse .navbar-collapse {
  margin-left: auto;
  margin-right: auto;
}

#balloon {
  width: 150px;
}

#space {
  height: 150px;
  width: 100px;
}

#contact_content {
    margin-top: 50px;
    float: right;
    width: 50%;
    padding: 20px; 
    background-color: #F8F8F8;
}

#resetbutton {
  background: #FFFFFF;
  border: 1px solid black;
}

#query_box {
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

#text {
    float: left;
    padding: 20px;
}

li {
    text-align: justify;
}

#internal_links {
    width: 100%;
}


.add_book_inputs {
  width: 100%;
}

.add_button {
  margin-bottom: 50px;
}

#author_row {
  width: 100%;
}

#author_container {
  width: 100%; 
}

#abstract_title {
  min-height: 150px;
  max-height: 150px;
  max-width: 100%;
  min-width: 100%;
}

#pics{
  width: 1024px;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.rulesandreg {
  height: 665px;
  width: 100%;
}

#pic_rules {
  margin-top: 25px;
  width: 915px;
  margin-left: auto;
  margin-right: auto;
}

#copyright_year_div {
  height: 70px;
  float: left;
}

#results {
  border: 1px solid black;
}

/********************** Static from Print Results Start *************************/

.results{
      
        float: left;
        clear: both;
        margin-top: 10px;
        width: 100%;
      }

      .results:hover{
      
        background: beige;
      
      }
      
      .results img{
      
        float: left;
      
      }

      .result_information{
        width: 98.5%;
      }
      
      .results .result_information{
      
        float: left;
      
      }

      .results form{

        float: left;
        clear: left;

      }

      .result_window{

        border: 1px solid black;
        height: 400px;
        width: 100%;
        position: fixed;
        left: 400px;
        display: none;

      }

      .result_header {
        min-width: 100%;
      }

/****************** Static from Print Results End *********************/

#guest_print_results {
  float: left;
  width: 100%;
}

.page-header{
  background-color: #f8f8f8;
  color: #428BCE;
}

#search_down_span {
  float: left;
}

#signup_anchor{
  margin-top: 40px;
}

#messages_result {
  width: 100%;
  border: 1px solid black;
}

#messages_id {
  width: 3%;
  border: 1px solid black;
}

#messages_message {
  
}

.guest_search_view_module {
  padding: 0px;
}

#admin_search_bar{
  width: 78.5%;
  margin: 0px;
}

#search_bar {
  width: 100%;
  float:right;
}

#filter_drop {
  float: left;
  height: 40px;
}

.advanced_search { 
  float: left;
}

#whole_search_bar , #search_subject {
  width: 100%;
  height: 40px;
}

#checklist {
  width: 100%;
  float: left;
  height: 40px;
}

#checklist2 {
  margin-left: 50px;
  float: left;
}

#type_label {
  margin-top: 5px;
  float: left;
  height: 20px;
  margin-bottom: auto;
}

.admin_display_suggestion{
  margin-left: 142px;
  max-width: 524px;
  min-width: 524px;
  padding: 11px;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  box-shadow: 1px 1px 3px #000000;
  text-align: left;
}

/**************** Jecho Changes End *********************/

/* Frei Changes Start*/
.floatright{
  position: relative;
  display: inline;
  left: 30%;
}
.admin-functions{
  width:50%;
  text-align: center;
  padding-left: 10%;
}
.admin-functions2{
  width:50%;
  text-align: center;
  padding-left: 25%;
}
#this{
  padding: 5px;
}

#cut{
  width: 58%;
  position: relative;
  padding-bottom: 30px;
}

#content {
  margin-top: 25px;
  width: 100%;
  float: left;
}

/* Frei Changes End*/

/*GWYN Changes*/
.circle{
  border-radius: 500px;
  height: 130px;
  width: 130px;
}
.circlebuttons{
  position: relative;
  display: inline;
  float: right;
}
.width_limit{
  width: 1024px;
  margin: auto;
  
}

.glyphicon-large {
  position: relative;
  top: 5px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 5em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-navbar {
  position: relative;
  display: inline;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-icon{
  color: white;
  height: 40px; 
}
.search-icon2{
  background-color: #428bce;
  color: white;
  height: 30px;
  padding: 6px 12px;  
}

#searchbar { 
  display: block;
  width: 170px;
  height: 30px;
  top: 5px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#wrap{
  width: 1024px;  
}
.footer_logo{
  width:100px;
  height:90px;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left:10px;
  margin-right:10px;
  bottom:0;
}


#display_suggestion{
  width: 177px;
  padding: 11px;
  background-color: #fff;
  z-index: 999;
  position: absolute;
  box-shadow: 1px 1px 3px #000000;
  text-align: left;
}
#collapse_advanced_search{
  z-index: 1;
  background-color: #fff;
  position: absolute;
  box-shadow: 1px 1px 3px #000000;
  width: 250px;
}
.suggested_results a:link{
  text-decoration: none;
}

.suggested_results li{
  color: black;
  text-align: left;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 40px;    
}
.left-inner-addon i {
    position: absolute;
    opacity: 0.5;
    padding: 10px 12px;
    pointer-events: none;
}
.space{
  padding-right:10px;
}
.profile_bar{
  margin: 0 auto;
  background: #f8f8f8;
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
}
.profile_bar img{
  margin: 0 auto;
  background: #000000;
}
.profile_greet{
  color:#428bce;
  min-width: 260px;
}

#notif{
  color:white;
  background-color: red;
  border-radius: 100px;
  padding: 2px;
  padding-left:5px;
  padding-right: 5px;
}
.advanced_search_link{
  color: #000;
  margin: 5px;
}
#checklist{

}
.filter_select{
  margin: 0 auto;
}
legend{
  background: #428bce;
  color: #fff;
}
.arrange_social{
  display: inline-block;
  float: right;
}
.arrange_social > li{
}
.content_right{
  width: 750px;
  margin-top: 60px;
  margin-bottom: 10px;
  float: right;
  min-height: 530px;
}
.content_left{
  width: 490px;
  margin-top: 10px;
  float: left;
  min-height: 455px;
}
.function_button{
  width:10%;
}
.results_list{
  list-style-type: none;
  text-align: left;
}
#row{
  margin: 0 auto;
}

/*ENd*/