

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




#signup{
border-style:outset;
border-width: 8;
background-color: #ffffff;
background-image: url('');
margin-top: 150px;
margin-left: 30%;
margin-right: 30%;
position:fixed;


}

#login{
border-style:outset;
border-width: 8;
background-color: #ffffff;
background-image: url('../img/black.jpg');
margin-top: 150px;
margin-left: 40%;
margin-right: 25%;
padding-left: 30px;
padding-right: 30px;
padding-top: 30px;
position:fixed;


}

      










